<!DOCTYPE html>
<html>

{% load static %}
<link rel="stylesheet" href= "{% static 'style.css' %}" />

{% include 'rodd.html' %} 

<body background="http://i.imgur.com/ImxEYrl.jpg" >

  <form name="Meuform" onsubmit="return validateForm()" method="post">
    <div id="box1">
        {% block calcmenui %}
        {% endblock %}
    </div>

</form>

<script>

function validateForm() {
    var x =  document.getElementById("nun1").value;
	var y =  document.getElementById("nun2").value;
    if (x == "") {
        alert("Insira o primeiro numero");
        return false;
    }else{
	  if (y == "") {
        alert("Insira o segundo numero");
        return false;
	  }
	}
}
</script>

</body>
</html>
